<h3 class="bg-info text-white">Hello @Name</h3>
<button class="btn btn-primary" @onclick="HandleClick">Show Hello</button>

@code {
        @*protected override bool ShouldRender()
        {
            return false;
        }*@

    public string Name;

    public void HandleClick()
    {
        Name = "Blazor";
    }
}